h1.navbar-brand img {
    display: inline;
    line-height: 26px;
    margin-right: 2px;
    margin-top: -2px;
}
h1.navbar-brand {
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    line-height: 26px;
}
h1.navbar-brand a {
    font-size:22px;
    color: #efefef;
}
h1.navbar-brand a:link,a:visited{
    text-decoration:none;
}
h1.navbar-brand small {
    display: inline;
    color: #b39969;
}